/* styles/globals.css */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

header {
  background-color: #fdfeff;
  color: #fff;
  padding: 20px 30px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* Global Styles */

header h1 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Layout Styles */
main {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}

/* Filters Panel Styles */
